{% extends "base.html" %}
{% block titulo %}Cuestionario {% endblock %}

{% block barra %}
<a class="btn btn-outline-success my-2 my-sm-0 " href="{% url 'logout' %}">Cerrar sesion</a>
{% endblock %}

{% block contenido %}


    {% if pregunta is None %}

    <div class="container justify-content:center">
        <div class="jumbotron my-4 jumbotron-fluid"">
            <h1>Ya has repondido el cuestionario</h1>
            <a class="button btn-success" href="{% url 'tablero' %}">Ver resultados</a>
        </div>
    </div>

    {% else %}

    <div class="container-fluid">
        <div class="card-body">

            <h2 class="text-info">Categoria: {{pregunta.categoriaPregunta|safe}}</h2>
            <h3>{{pregunta.textoPregunta}}</h3>

            <form method="POST" class="form"> {% csrf_token %}

                <input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">

                {% for opcion in pregunta.opciones.all %}
                <p>
                    <input type="radio" class="form-check-input" name="respuesta_pk" value="{{opcion.pk}}"
                        id="choice-{{forloop.counter}}">
                    <label class="form-check-label" for="choice-{{forloop.counter}}">
                        {{opcion.textoRespuesta}}
                    </label>
                </p>

                {% endfor %}
                <button type="submit" class="btn btn-success">
                    Enviar
                </button>
                <a href="{% url 'salir' %}" class="btn btn-danger">Retirarse</a>
            </form>
            <br>
            
                
            
            
        </div>
    </div>

{% endif %}

{% endblock %}