{% extends "base.html" %}

{% block titulo %}Inicio {% endblock %}
{% block barra %}
    <a class="btn btn-outline-success my-2 my-sm-0 " href="{% url 'logout' %}">Cerrar sesion</a>
{% endblock %}

{% block contenido %}
    <div class=" p-5 text-center" id="inicio">
        <h1>Bienvenido al juego {{user}}</h1>
        <p>En este Juego pondras a prueba tus conocimientos generales</p>
        <a href="{% url 'quiz' %}">
            <button type="submit">INICIAR TEST</button>
        </a>
        
    </div>

    <style>
        #inicio button:hover {
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
      }
    </style>
    

{% endblock %}